.cart-container {
  max-width: 600px;
  margin: 16px auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 3px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart-item-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-left: 5px !important;
  border-radius: 10px;
}

.cart-item-info {
  flex-grow: 1;
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-price {
  font-size: 14px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.discount {
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 5px;
}

.item-quantity {
  width: 1.875rem;
  height: 1.875rem;
  text-align: center;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: .3rem;
  box-shadow: inherit;
  padding: 2px 4px;
  color: #2d2a29;
  display: inline-flex;
  font-size: .875rem;
}

.item-info{
  display: flex;
  flex-direction: row;
}

.item-separator {
  margin: 0 5px;
  width: 170px;
}

.item-quantity-button{
  align-items: center;
  background: none;
  border-radius: .3125rem;
  border: 1px solid #ddd;
  color: #2d2a29;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: .875rem;
  height: 1.875rem;
  justify-content: center;
  width: 1.875rem;
}

.item-actions{
  display: flex;
  flex-direction: row;
}

.cart-title-total{
  margin-bottom: 10px;
}

.cart-button {
  width: 98.6%;
  margin: 5px;
}
