<mat-card class="cart-container">
  <mat-card-title>Panier</mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="cartItems.length > 0; else emptyCart">
      <div *ngFor="let item of cartItems" class="cart-item">
        <div class="item-info">
          <h3 class="item-name">{{ item.name }}</h3>
          <p class="item-price">
            {{ item.price }} € x {{ item.quantity }} = {{ item.price * item.quantity }} €
          </p>
        </div>
        <div class="item-actions">
          <button mat-mini-fab color="primary" (click)="decrementQuantity(item.id)">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="incrementQuantity(item.id)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="removeFromCart(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="cart-total">
        <h3>Total : {{ totalPrice }} €</h3>
      </div>
      <div class="cart-actions">
        <button mat-raised-button color="accent" (click)="clearCart()">Vider le panier</button>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #emptyCart>
  <p>Votre panier est vide.</p>
</ng-template>
