.footer {
  background: linear-gradient(135deg, #0f0c29, #5b5478, #24243e);
  color: white;
  padding: 30px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px -5px 15px rgba(255, 255, 255, 0.1);
}



.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #C9B037;
}

.footer-section p, .footer-section a {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #C9B037;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: #ccc;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #C9B037;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #444;
  font-size: 14px;
  color: #888;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #ccc;
  font-size: 22px;
  margin-right: 15px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0000f1;
}
