.spacer {
  flex: 1 1 auto;
}

.cart-trigger {
  position: relative;
  display: inline-block;
}

.cart-menu-content {
  padding: 10px;
  min-width: 500px !important;
  max-width: 600px !important;
  width: 600px !important;
  margin: 5px;
  overflow: hidden !important;
}

.cart-button {
  width: 98.6%;
  margin: 0 5px;
}

::ng-deep .cart-menu{
  min-width: 500px !important;
  max-width: 600px !important;
  width: 600px !important;
  overflow: hidden !important;
}
.logo-link {
  text-decoration: none;
  color: #6e4f4f;
  font-weight: bold;
  cursor: pointer;
}


mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /
}

.spacer {
  flex: 1;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #6e4f4f;
  font-weight: bold;
}

.active-link {
  border-bottom: 2px solid #230e0e;
}
