<mat-toolbar class="header">
  <a routerLink="/" class="logo-link">My E-Commerce</a>

  <span class="spacer"></span>

  <nav class="nav-links">
    <a mat-button routerLink="/products" routerLinkActive="active-link">PRODUITS</a>
    <a mat-button routerLink="/cart" routerLinkActive="active-link">PANIER</a>
    <a mat-button routerLink="/profile" routerLinkActive="active-link">PROFIL</a>
    <a mat-button routerLink="/about" routerLinkActive="active-link">ABOUT US</a>
    <a mat-button routerLink="/contact" routerLinkActive="active-link">CONTACT</a>
  </nav>

  <app-search class="component-search"></app-search>
  <span class="spacer"></span>

  <div class="login">
    <button mat-card-avatar (click)="goToLogin()">
      <mat-icon>login</mat-icon>
    </button>
  </div>
  <div class="cart-trigger">
    <button mat-icon-button [matMenuTriggerFor]="cartMenu" class="cart-button">
      <mat-icon class="cart-icon">shopping_cart</mat-icon>
      <div *ngIf="cartCount > 0" class="cart-badge">
        {{ cartCount }}
      </div>
    </button>
  </div>
</mat-toolbar>

<mat-menu #cartMenu="matMenu" class="cart-menu" xPosition="before">
  <div class="cart-menu-content">
    <app-cart></app-cart>
  </div>
  <button mat-raised-button color="accent" class="cart-button" (click)="goToCart()">
    J'accède à mon panier
  </button>
</mat-menu>
