

.header {
  background: rgb(255, 255, 255);
  color: #333;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo-container {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d9cec2;
}

.header-icons {
  display: flex;
  align-items: center;
}
.spacer {
  flex-grow: 0.5;
}

.theme-switcher mat-icon,
.profile-button mat-icon,
.cart-button mat-icon {
  font-size: 24px;
  color: #444;
  transition: color 0.3s;
}

.theme-switcher:hover mat-icon,
.profile-button:hover mat-icon,
.cart-button:hover mat-icon {
  color: #d9cec2;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.user-avatar:hover {
  transform: scale(1.1);
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #ff4757;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(255, 71, 87, 0.8);
}


.hero-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
    height: 90vh;
  }
}

.hero {
  position: relative;
  height: 50vh;
}

@media (min-width: 768px) {
  .hero {
    height: 100%;
  }
}

.overlay {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cart-menu {
  width: 300px !important; /* Ajuste la largeur */
  border-radius: 10px !important;
  background: white !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15) !important; /* Ombre subtile */
  padding: 15px !important;
  backdrop-filter: blur(10px) !important; /* Effet de flou */
  border: 1px solid rgba(0, 0, 0, 0.1) !important; /* Bordure légère */
}

.cart-menu-content {
  color: #333 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  background: rgba(217, 206, 194, 0.26) !important;
}

.cart-button {
  width: 100% !important;
  margin-top: 10px !important;
  padding: 10px !important;
  background: #d9cec2 !important;
  color: #000000 !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  text-align: center !important;
}
