<mat-toolbar class="header" xmlns="http://www.w3.org/1999/html">
  <a routerLink="/" class="logo-link">ShopCraft</a>

  <span class="spacer"></span>

  <nav class="nav-links">
    <a mat-button routerLink="/products" routerLinkActive="active-link">PRODUITS</a>
    <a mat-button routerLink="/about" routerLinkActive="active-link">ABOUT US</a>
    <a mat-button routerLink="/contact" routerLinkActive="active-link">CONTACT</a>
  </nav>

  <span class="spacer"></span>


  <app-search class="component-search"></app-search>

  <span class="spacer"></span>

  <div class="theme-switcher">
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </div>

  <div class="login">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <img *ngIf="isLoggedIn()" [src]="userProfilePicture" class="user-avatar" alt="Photo de profil">
      <mat-icon *ngIf="!isLoggedIn()">account_circle</mat-icon>
    </button>
  </div>

  <div class="cart-trigger">
    <button mat-icon-button [matMenuTriggerFor]="cartMenu" class="cart-button">
      <mat-icon class="cart-icon">shopping_cart</mat-icon>
      <div *ngIf="cartCount > 0" class="cart-badge">
        {{ cartCount }}
      </div>
    </button>
  </div>

  <mat-menu #userMenu="matMenu" class="backdrop-blur-md  rounded-lg border-white   ">
    <div class="user-info" *ngIf="isLoggedIn()">
      <img [src]="userProfilePicture" class="user-avatar" alt="Photo de profil">
      <div class="user-details">
        <span class="user-name">Bonjour, {{ userName }}</span>
      </div>
    </div>

    <ng-container *ngIf="isLoggedIn(); else loginMenu">
      <button mat-menu-item (click)="goToProfile()">
        <mat-icon>person</mat-icon>
        Afficher le profil
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Déconnexion
      </button>
    </ng-container>

    <ng-template #loginMenu>
      <button mat-menu-item class="google-signin-btn" *ngIf="!isLoggedIn()" (click)="loginWithGoogle()">
        <span class="google-signin-content">
          <img src="assets/logo-google.png" class="google-icon" alt="Google Logo">
          <span>Se connecter avec Google</span>
        </span>
      </button>
    </ng-template>
  </mat-menu>
</mat-toolbar>

<mat-menu #cartMenu="matMenu" class="cart-menu" xPosition="before">
  <div class="cart-menu-content">
    <app-cart></app-cart>
  </div>
  <button mat-raised-button class="cart-button" (click)="goToCart()">
    <p> J'accède à mon panier </p>
  </button>
</mat-menu>
