
.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 50px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #f1f1f1;
    transform: scale(1.05);
  }
}

.google-icon {
  width: 10px;
  height: 10px;
}
