.order-confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success-card {
  text-align: center;
  padding: 30px;
  max-width: 400px;
  background-color: #f0fff0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.success-icon {
  font-size: 25px;
  color: green;
}
