@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


.search-bar {
  display: flex;
  align-items: center;
  background: transparent;
  width: 150%;
  margin-top: 20px;
  margin-right: 14px;
}

.search-bar:hover {
  border-color: #d9cec2;
}

.search-bar input {
  border: none;
  font-size: 16px;
  width: 100%;
  background: transparent;
  outline: none;
  padding-left: 12px;
  color: #222;
}

.search-bar input::placeholder {
  color: #000000;
  font-weight: 400;
}

.search-bar .mat-icon-search {
  color: #777;
  font-size: 22px;
  transition: color 0.3s;
}

.search-bar .mat-icon-search:hover {
  color: #222;
}

::ng-deep .mat-mdc-autocomplete-panel {
  background: white !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15) !important;
  border-radius: 8px !important;
  padding: 5px 0 !important;
}

::ng-deep .mat-mdc-option {
  display: flex !important;
  align-items: center !important;
  gap: 12px !important;
  padding: 12px !important;
  transition: background 0.3s ease-in-out !important;
}

::ng-deep .mat-mdc-option:hover {
  background: #f8f8f8 !important;
  border-radius: 5px !important;
}

.search-suggestion {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
}

.product-image {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
  border-radius: 8px !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important;
  margin-right: 10px !important;
}

.product-title {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #333 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  flex-grow: 1 !important;
  text-align: left !important;
}


