@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: linear-gradient(180deg, #c0bad8, #e5e7eb);
  color: #333;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


.main-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1, h2, h3 {
  color: #1A237E;
}

p {
  line-height: 1.6;
  font-size: 16px;
  color: #5A5A5A;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

html {
  animation: fadeIn 0.8s ease-in-out;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.footer {
  margin-top: auto;
}
.main {
  flex: 1;
}

.custom-snackbar {
  background: linear-gradient(to right, #9333ea, #312e81) !important;
  color: white !important;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

